* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  a {
    color: $color-default;

    &:hover {
      color: $color-blue;
    }
  }
}
.fa-solid, .fas {
  font-weight: 900;
  color: white;
}
.container {
  padding: 0 60px;
}

.p-100 {
  padding-top: 100px;
}

.red_text {
  color: $color-primary;
  padding: 0px 22px 0 22px;
}

// slick slide
// .slick-dots li button {
//   margin-top: 170px;
// }
.inspirational_section {
  .slick {
    .slick-dots {
      bottom: 39px;
      li{
        button{
          &::before{
            color:white;
          }
        }
      }
    }
  }
  .slick-dots {
    li.slick-active {
      button {
       
        &:before {
          font-family: 'slick';
          font-size: 14px;
          line-height: 20px;
          position: absolute;
          top: -2px;
          left: -4px;
          width: 20px;
          height: 20px;
          content: '•';
       
          opacity: 1;
          color: red;
        }
      }
    } 
  } 
  .slick-dots {
    li {
      margin:0 0;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 2px;
        height: 2px;
        padding: 5px;
        cursor: pointer;
       
        border: 0;
        border-radius: 50%;
        outline: none;
        border: 1px solid red;
       
      }
    } 
  } 
}

.slick {
  box-shadow: 1.6px 2.5px 18px 0 rgba(0, 0, 0, 0.17);
}


